---
layout: base
---
<article class="row">
    <section class="column1">
        <h1>food</h1>
        {% for post in site.categories.food %}
        <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</a></p>
        <p><a href="{{ post.url }}">Read more...</a></p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="column2">
        <h1>funerals</h1>
        {% for post in site.categories.funeral %}
        <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url }}">Read more...</a></p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        {% endfor %}

    </section>
    <section class="column3">
        <h1>labour</h1>
        {% for post in site.categories.labour %}
        <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url }}">Read more...</a></p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        {% endfor %}

    </section>
</article>

